@model WebAppGenerics.Models.Carrossel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Você quer realmente deletar essa produção?</h3>
<div>
    <h4>Carrossel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produção)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produção)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revisor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
